@{
    ViewData["Title"] = "Home Page";
}

<img src='@Url.Action("DisplayViewAsImage", "Home")' class="auto-refresh" />

<form>
    <label>Unit 0 speed</label> <input type="number" id="unit-0-speed"/> <button type="button" id="unit-0-speed-set">set</button>
</form>

<script type="text/javascript">


</script>
